<!DOCTYPE html>
<html>
   <head>
   	<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
        <link href="favicon.png" rel="shortcut icon"/>
        <title>文言文词义消歧</title>
        <link rel="stylesheet" href="/static/layout.css" type="text/css">
        <script type="text/javascript" src="/static/jquery-1.3.2.min.js"></script>
        <script type="text/javascript" src="/static/cookie.js"></script>
        <script type="text/javascript" src="/static/user.js?v=1.0"></script>
        <script type="text/javascript" src="/static/sentence.js?v=1.1"></script>
        <script type="text/javascript" src="/static/jquery.md5.js"></script>
	<script>
 	function solve(){
 		//d = {}
 		hanzi = ['','一','二','三','四']
 		var reg = new RegExp('/', 'g')
 		jsondata = encodeURI(document.getElementById('xml').value).replace(reg, 'nya')
 		//jsondata = JSON.stringify(d)
 		document.getElementById('result').innerHTML = '解题中'
 		$.post('/solve/'+jsondata,
 		function(data){
 			result = JSON.parse(data)
 			if (result['success'] == 0){
 				document.getElementById('result').innerHTML = result['error']
 				return
 			}
 			if (result['type'] == 'tagging'){
 				editdistance = [getEditDistance(result['sense'],result['select1']),getEditDistance(result['sense'],result['select2']),getEditDistance(result['sense'],result['select3']),getEditDistance(result['sense'],result['select4'])]
 				max_matching = [max_length_matching(result['sense'],result['select1']),max_length_matching(result['sense'],result['select2']),max_length_matching(result['sense'],result['select3']),max_length_matching(result['sense'],result['select4'])]
 				mind = 100000
 				ans = -1
 				for (i =0; i < 4;i++){
	 				if (editdistance[i]+100-max_matching[i] < mind){
	 					ans = i
	 					mind = editdistance[i]+100-max_matching[i]
	 				}
	 			}
 				document.getElementById('result').innerHTML = '释义：'+result['sense']+'<br><br>选项一<br>编辑距离：'+editdistance[0]+'<br>最长匹配长度：'+max_matching[0]+'<br><br>选项二<br>编辑距离：'+editdistance[1]+'<br>最长匹配长度：'+max_matching[1]+'<br><br>选项三<br>编辑距离：'+editdistance[2]+'<br>最长匹配长度：'+max_matching[2]+'<br><br>选项四<br>编辑距离：'+editdistance[3]+'<br>最长匹配长度：'+max_matching[3]+'<br><br>答案：选项'+hanzi[String(parseInt(ans)+1)]
 			}
 			if (result['type'] == 'sentence_pair'){
 				match = ['0%','0%','0%','0%','0%']
 				if (result['same'] == 1){
 					ans = 0
 					i = 1
 					sim = 0
 					for (;i<=4;i++){
 						comval = result['sim'+String(i)]
 						if (result['sense'+String(i)+'_1'] == result['sense'+String(i)+'_2'] ){
 							match[i] = '100%'
 							comval = result['sim'+String(i)]+1.0	
 						}
 						if (comval > sim){
 							ans = i
 							sim = comval
 						}
 					}
 				}
 				else{
 					ans = 0
 					i = 1
 					sim = 1
 					for (;i<=4;i++){
 						comval = result['sim'+String(i)]
 						match[i] = '100%'
 						if (result['sense'+String(i)+'_1'] != result['sense'+String(i)+'_2'] ){
 							match[i] = '0%'
 							comval = result['sim'+String(i)]-1.0	
 						}
 						if (comval < sim){
 							ans = i
 							sim = comval
 						}
 					}
 				}
 				document.getElementById('result').innerHTML = '选项一：<br>释义1：'+result['sense1_1']+'<br>释义2：'+result['sense1_2']+'<br>释义匹配度：'+match[1]+'<br>义项概率分布相似度：'+100*result['sim1'].toFixed(3)+'%<br><br>选项二：<br>释义1：'+result['sense2_1']+'<br>释义2：'+result['sense2_2']+'<br>释义匹配度：'+match[2]+'<br>义项概率分布相似度：'+100*result['sim2'].toFixed(3)+'%<br><br>选项三：<br>释义1：'+result['sense3_1']+'<br>释义2：'+result['sense3_2']+'<br>释义匹配度：'+match[3]+'<br>义项概率分布相似度：'+100*result['sim3'].toFixed(3)+'%<br><br>选项四：<br>释义1：'+result['sense4_1']+'<br>释义2：'+result['sense4_2']+'<br>释义匹配度：'+match[4]+'<br>义项概率分布相似度：'+100*result['sim4'].toFixed(3)+'%<br><br>答案：选项'+hanzi[String(parseInt(ans))]
 			}
 			//document.getElementById('result').innerHTML = data
 		}
 		)
 	}

 	function getEditDistance(a, b){
  if(a.length == 0) return b.length; 
  if(b.length == 0) return a.length; 

  var matrix = [];

  // increment along the first column of each row
  var i;
  for(i = 0; i <= b.length; i++){
    matrix[i] = [i];
  }

  // increment each column in the first row
  var j;
  for(j = 0; j <= a.length; j++){
    matrix[0][j] = j;
  }

  // Fill in the rest of the matrix
  for(i = 1; i <= b.length; i++){
    for(j = 1; j <= a.length; j++){
      if(b.charAt(i-1) == a.charAt(j-1)){
        matrix[i][j] = matrix[i-1][j-1];
      } else {
        matrix[i][j] = Math.min(matrix[i-1][j-1] + 1, // substitution
                                Math.min(matrix[i][j-1] + 1, // insertion
                                         matrix[i-1][j] + 1)); // deletion
      }
    }
  }

  return matrix[b.length][a.length];
};

 	function test(){
 		alert(max_length_matching('1111','12312'))
 	}

 	function max_length_matching(a, b){
 		if (a.length > b.length){
 			tmp = a
 			a = b
 			b = tmp
 		}
 		var result = a.length
 		while (result > 0){
 			matched = false
 			for (i = 0; i <= a.length-result; i++){
 				if (b.indexOf(a.substr(i, result)) >= 0)
 					matched = true
 			}
 			if (matched) break
 			result = result-1
 		}
 		return result
 	}

	</script>
   </head>
   
<body>
	<div id="header">
			<div id="logo">
				<img src="/static/thumt-logo.png"  alt="logo"/>
			</div>
			<h1>文言文词义消歧系统</h1>
		</div>

	<div id="input_area">
		<button id="segment_button" onclick="solve()">解题</button>
		 <br>
		 <textarea cols="50" rows="6" id="xml"><question id="2015BeijingGaokao_10" score="2" type="select">
				<text>下列各组句中加点词的意义和用法，不同的一组是</text>
				<select multiple="false">
					<option value="A">
					<point>其</point>谁可而为之
					君知<point>其</point>难也
					</option>
					<option value="B">
					午非子<point>之</point>子邪
					今者有小人<point>之</point>言
					</option>
					<option value="C">
					而<point>遂</point>杀之
					后<point>遂</point>无问津者
					</option>
					<option value="D">
					伤人<point>者</point>刑
					同予<point>者</point>何人
					</option>
				</select>
			</question></textarea >
		 	<!--
			<table border="0" width="100%" cellpadding="10">
				<tr>
					<td valign="top">
					题干: <input type="text" size=50 id="stem">
					</td>
				</tr>
				<tr>
					<td valign="top">
					副题干: <input type="text" size=30 id="substem">
					</td>
				</tr>
				<tr>
					<td valign="top">
					选项一: <input type="text" size=20 id="select1"> <input type="text" size=20 id="subselect1">
					</td>
				</tr>
				<tr>
					<td valign="top">
					选项二: <input type="text" size=20 id="select2"> <input type="text" size=20 id="subselect2">
					</td>
				</tr>
				<tr>
					<td valign="top">
					选项三: <input type="text" size=20 id="select3"> <input type="text" size=20 id="subselect3">
					</td>
				</tr>
				<tr>
					<td valign="top">
					选项四: <input type="text" size=20 id="select4"> <input type="text" size=20 id="subselect4">
					</td>
				</tr>
				<tr>
					<td>
					结果: <p id='result'>11</p>
					</td>
				</tr>
			</table>
		-->
		结果: <p id='result'></p>
			<br/>
		</div>
		
</body>
</html>